<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.imoxion.mapper.BoardMapper"> <!-- namespace를 꼭 맞게 써주어야함 -->
	<cache />

	<insert id="insertBoard" parameterType="BoardVO">
		insert into board
		(m_id,b_title,b_content,b_count,b_group,b_step,b_depth)
		values(#{m_id},#{b_title},#{b_content},#{b_count},#{b_group},#{b_step},#{b_depth})

	</insert>

	<select id="getGroupNum" resultType="int">

		select max(b_num) from board;

	</select>

	<select id="getList" parameterType="Crieria" resultType="BoardVO">
		select * from board order by b_group, b_step limit #{startRow} , #{endRow};

	</select>

	<update id="insertGroupNumBoard">

		update board set b_group = #{getGroupNum} where b_num =#{getGroupNum};
	</update>

	<select id="getOverList" parameterType="BoardVO" resultType="BoardVO">

		select * from board where b_group = #{b_group} and b_step > #{b_step};
	</select>

	<update id="updateStep" parameterType="BoardVO">
	 	update board set b_step = #{b_step} where b_num =#{b_num};
	</update>

	<select id="getBoard" parameterType="int" resultType="BoardVO">
		select *
		from board where b_num = #{b_num};


	</select>

	<delete id="delBoard" parameterType="int">
		delete from board where
		b_num= #{b_num};

	</delete>

	<update id="boardUpdate" parameterType="BoardVO">
		update board set b_title
		= #{b_title}, b_content = #{b_content} where b_num
		= #{b_num};
	</update>


	<update id="updateCount" parameterType="BoardVO">
		update board set b_count
		= #{b_count} where b_num = #{b_num};
	</update>


	<select id="listTotalCount" resultType="Integer">
		select count(b_num) from board;
	</select>
</mapper>
